.crm-navbar {
    display: flex;
    padding: 20px;
    background-color: rgba(43, 56, 238, 0.5);
    border: 2px dashed rgb(12, 26, 223);
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 20px;
}

.crm-navbar li{
    list-style: none;
    margin-left: 40px;
    margin-right: 40px;
}
.crm-navbar li .react-link {
    color: white;
    text-decoration: none;
}